default_arm7/build/
default_arm7/default.elf
dswifi/arm7/debug/
dswifi/arm7/release/
dswifi/arm9/debug/
dswifi/arm9/release/
dswifi/lib/
libnds/default.elf
libnds/dswifi_license.txt
libnds/include/arpa/
libnds/include/dswifi7.h
libnds/include/dswifi9.h
libnds/include/dswifi_version.h
libnds/include/maxmod7.h
libnds/include/maxmod9.h
libnds/include/mm_types.h
libnds/include/netdb.h
libnds/include/netinet/
libnds/include/sys/
libnds/maxmod_license.txt
maxmod/build_ds7/
maxmod/build_ds9/
maxmod/lib/

