a
{
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
display:block;
width:130px;
height:50px;
background-color:black;
color:white;
line-height:50px;
text-align:center;
text-decoration:none;
}
body
{
background-image:url(images/background-left.PNG);
background-repeat:no-repeat;
background-attachment:fixed;
}
.btn1
{
background-color:#5f2346;
}

.btn2
{
background-color:#602f2d;
}

.btn3
{
background-color:#6f6b89;
}

.btn4
{
background-color:#3e523e;
}

.btn5
{
background-color:#64643c;
}